/* NAVIGATION */

body {
    color: black;
    font-family: Helvetica, sans-serif;
    background-color:white; /*#fffbf7*/
}
#header {
    height: 100px;
    color: white;
    text-shadow:rgb(150, 114, 25) 3px 3px;
    font-size: 70px;
    background-color: #B9E5C1;
    padding-left:10px;
    padding-top:10px;
    background-image: url(https://i.ibb.co/zR3zBCB/rodeo-burger.png);
    background-size: 100%;
    background-position-y: 80%;
    background-repeat: no-repeat;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #752222;
    color:white;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #d48686;
}
li a.active {
    color: white;
    background-color: #cb161d;
}


/* MENU */
.menu_img{
    width: 150px;
    height: 150px;
}

.menuCatTitle {
    background-color: #752222;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    color:white;
    text-shadow: goldenrod 1px 1px;
    font-size:24px;
}
.menuItemTitle{
    background-color: #752222;
    height: 20px;
    color: white;
    text-align: center;
}
.menuItemContent {
    background-color: rgb(238, 214, 153);
    border: goldenrod 6px ridge;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    height: 200px;
    
}

.menuItemImg {
    height:100px;
    width:100px;
}
.imgSpan{
    float:left;
}
.detSpan{
    float:right;
    width: 60%;
}
.menuItemContent button{
    float: right;
    background-color: #752222;
    color: white;
    cursor: pointer;
}


/* ORDERS */

.orderItem {
    border: #752222 groove 3px;
    margin: 2px;
    padding: 5px;
}

.order {
    border: goldenrod ridge 6px;
    padding: 5px;
    background-color: rgb(238, 214, 153);
    margin-bottom: 10px;
}
.price {
    float:right;
}
.priceTitle{
    float:right;
}


/* CART */
#cart-div {
    margin-top:10px;
}
.cartItem {
    border: goldenrod ridge 6px;
    padding: 5px;
    background-color: rgb(238, 214, 153);
    margin-bottom: 10px;
    height: 50px;

}
.cartItem img {
    width: 50px;
    height: 50px;
    float:left;
    margin-right: 10px;
}
.cartItem .item-name {
    color: black;
    font-size: 16px;
    float:left;
}
.cartItem .item-price {
    color: black;
    float:right;
    font-size: 20px;
}
.currency-symb{
    color: black;
    float:right;
    font-size: 20px;
}

.cartBtn {
    background-color: #752222;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.rmBtn {
    background-color: rgb(238, 214, 153);
    color: #752222;
    cursor: pointer;
    margin-top:6px;
}


#cart-form{
    border: goldenrod ridge 6px;
    padding: 5px;
    background-color: rgb(238, 214, 153);
    margin-bottom: 10px;
}
.cart-field{
    margin: 5px;
    left: 100px;
}

#cart-form textarea{
    resize:none;
    width: 40%;
    height: 50px;
}


/*sign in*/
#login-img{
    width: 200px;
    position:absolute;
    left:50px;
    top:85px;
}
#main-holder{
    background-color:white;
    width: 250px;
    position: absolute;
    top:20px;
    left: 280px;
    padding: 15px;
    margin:20px;
    box-shadow: 5px 5px 15px rgb(1, 26, 7);
    border: ridge 10px #752222;
    border-radius: 10px;

}
.signin-body{
    background-color: rgb(216, 240, 219);
}
#restaurant-title{
    color: #752222;
    text-shadow:rgb(116, 88, 18) 1px 2px;
    font-size: 40px;
    position:absolute;
    top:260px;
    left:30px;
}
.signin-btn{
    background-color:#752222;
    color:white;
    padding:5px;
    border:ridge #752222 2px;
    cursor:pointer;
}
.signin-btn:active{
    box-shadow: inset 0px 0px 5px #c1c1c1;
}